@mixin boton_primario {
    background-color: $color_4;
    color: $color_1;
  }



body {
    font-family: $font-family_1;
    margin: 0;
    padding: 0;
    background-color: $color_1;
  }

  .boton_primario {
    @include boton_primario()
  }



