/* ESTILOS GLOBALES Y VARIABLES*/

$color_1: #fafafa;
$color_2: black;
$color_3: #00a4f0;
$color_4: #002060;
$color_5: #9dc3e6;
$color_6: #deebf7;
$color_7: #5a5a5a;
$color_8: #838388;
$color_9: #9d9d9d;
$color_10: #d5d5d5;
$background-color_1: #d5d5d5;
